#   LEGEND
# **/*.extension means that all files with that extensions in all directories are ignored
# /*/**/*.extensions means that all files with that extensions in all BUT the root folder are ignored (root folder files are not ignored).
.vscode
workspace.code-workspace
**/*.obj
**/*.lst
**/*.map
/*/**/*.exe
**/*.swp
**/*.$$$
**/*.dsk
**/*[0-9][0-9].exe
**/*[0-9].exe
**/*.prj
/*.asm
!add2.asm